<div id="<%= dom_id tweet %>">
  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= "@#{tweet.user.nickname}" %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= tweet.created_at %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%# playing with vue may be deleted %>
    <% if tweet.likes.to_s.size > 3 && tweet.likes.to_s.size <= 6 %>
      <% unit = 'k' %>
    <% elsif tweet.likes.to_s.size > 6 && tweet.likes.to_s.size <= 9 %>
      <% unit = 'M' %>
    <% else %>
      <% unit = '' %>
    <% end %>

    <%= tweet.likes %> <%= unit %>
  </p>

</div>
