<%= form_with(model: hashtags_to_tweet) do |form| %>
  <% if hashtags_to_tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hashtags_to_tweet.errors.count, "error") %> prohibited this hashtags_to_tweet from being saved:</h2>

      <ul>
        <% hashtags_to_tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <% htts = hashtags_to_tweet.find_hashtags_of_tweet(hashtags_to_tweet.tweet_id) %>
    <% hashtag_list = htts.map { |h| h.hashtag.hashtag } %>
    <% hashtag_list.each do |h| %>
      <li><%= h %></li>
    <% end %>
  </ul>
  <div>
    <%= form.submit %>
  </div>
<% end %>
